.container {
    width: 80vw;
    margin: 10vh 10vw;
    height: 80vh;
    background: antiquewhite;
}

.inner-element {
    width: 10vw;
    height: 10vh;
    background: #009DCD;
    cursor: pointer;
}